body {
    font-family: 'Poppins', sans-serif;
    background: #1a0327;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#timer {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.question {
    margin-bottom: 20px;
}

button {
    background-color: #FEC53A;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #e0b539;
}
